@media (max-width: 768px) {
  .Propos {
    padding: 0 25px 0 25px;
  }
  .Dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .Collapse-propos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 100px;
    .collapse {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 768px) {
  .Propos {
    text-align: center;
    padding: 0 100px 0 100px;
  }

  .Dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .Collapse-propos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .collapse {
      margin-bottom: 30px;
    }
  }
}
