@media (min-width:768px) {
    .tagsList {
        display: flex;
        flex-direction: row;
        max-width: 120px;
        }
}

@media (max-width:768px) {
    .tagsList {
        display: flex;
        flex-direction: row;
        max-width: 80px;
        }
}

