@media (min-width: 375px) {
  .LogementHeader {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 40px 0;
  }

  .LogementTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ff6060;
    h2 {
      padding: 0 0 10px 0;
    }

    h3 {
      padding: 0 0 10px 0;
    }
    .Tags {
      display: flex;
    }
  }

  .SellerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;

    .SellerName {
      font-weight: 500;
      width: 100px;
      text-align: right;
      color: #ff6060;
    }
    .SellerPicture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: black;
    }
  }
  .SellerStar {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 375px) {
  .LogementHeader {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    flex-direction: column;
  }

  .LogementTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ff6060;
    h2 {
      padding: 0 0 10px 0;
    }

    h3 {
      padding: 0 0 10px 0;
    }
    .Tags {
      display: flex;
    }
  }
.Seller {
  padding-top: 20px;
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
}
  .SellerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;

    .SellerName {
      font-weight: 500;
      width: 100px;
      text-align: right;
      color: #ff6060;
    }
    .SellerPicture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background-color: black;
    }
  }
  .SellerStar {
    display: flex;
    flex-direction: row;
  }
}
